In [6]:
f_name = "First"
l_name = "Last"
def reverse(n1,n2):
  new_name = n2+" "+n1
  return new_name
reverse(f_name,l_name)

'Last First'

In [7]:
number = 5
def computation(n):
  n1 = n
  n2 = str(n)+str(n)
  n2 = int(n2)
  n3 = str(n)+str(n)+str(n)
  n3 = int(n3)
  value = n1+n2+n3
  return value

computation(number)

615

In [11]:
number = input("Enter the number")
number = int(number)
def evenorodd(n):
  x = n%2
  if x == 0:
    print("the number is even")
  else:
    print("the number is odd")
evenorodd(number)

Enter the number5
the number is odd

In [16]:
lst = []
for i in range(2000,3200):
  if i%5 != 0:
    if i%7 == 0:
      lst.append(i)  
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [38]:
n = input('')
n = int(n)
fact = 1
  
for i in range(1,n+1):
    fact = fact * i
      
print ("The factorial of ",n," is : ",end="")
print (fact)

5
The factorial of  5  is : 120

In [32]:
word = input("Enter the word")
word2 = ''
for i in range(len(word)):
  if i%2 == 0:
    word2+=word[i]

print(word2)

hello
hlo

In [42]:
x = input("Enter the price: ")
x = int(x)
if x >= 500:
  new_price = x/2
  print('The new price is ',new_price,"With 50% Discount")
elif x >= 200:
  new_price = x*0.7
  print('The new price is ',new_price,"With 30% Discount")
elif x < 200:
  new_price = x*0.9
  print('The new price is ',new_price,"With 10% Discount")

Enter the price: 600
The new price is  300.0 With 50% Discount