In [ ]:
example_list = [2,3,6]
total = 1
for i in range(0,3):
  num = example_list[i]
  total = total * num
print(total)

36

In [ ]:
Sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Sample_list.sort(key=lambda tup: tup[1]) #tup[1] is the number of the element in the tuple you want to sort with
print(Sample_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}   
d3 = Counter(d1) + Counter(d2)
print(d3)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
num = 8
dic = {}
for i in range(num):
  index = i+1
  string_index = str(index)
  dic[string_index] = index*index
print(dic)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64}

In [ ]:
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print(sorted(list, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]